<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Hello World</title>

    <link rel="stylesheet" href="/css/hello.css">
</head>

<body>
    <h1>Hello World!</h1>

    <p>ABC</p>
    <p>abc</p>
    <p>012</p>
    <p>あいう</p>
    <p>アイウ</p>

    <p><a href="/siritori/vs_cpu">しりとり VS. CPU</a></p>
</body>

</html>