<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>しりとり</title>

    <link rel="stylesheet" href="/css/siritori.css">
</head>

<body>
    <div class="main">
        <h1>Siritori</h1>

        <ul class="list-1-full">
            <li class="list-1-full-li">
                <h2><a href=" /siritori/alone">しりとり 1人モード</a></h2>
                <p>1人でしりとりします．</p>
            </li>

            <li class="list-1-full-li">
                <h2><a href=" /siritori/vs_cpu">しりとり VS. CPU</a></h2>
                <p>
                    CPUと対戦します．
                    <a href=" /siritori/vs_cpu_hard">ハードモード</a>
                </p>
            </li>

            <li class="list-1-full-li">
                <h2><a href=" /siritori/vs_cpu_beta">しりとり VS. CPU ver.β</a></h2>
                <p>
                    CPUと対戦します．
                    <a href=" /siritori/vs_cpu_beta_hard">ハードモード</a>
                </p>
                <p>※βバージョンでは，他のユーザが使用した単語をCPUが用います．</p>
            </li>
        </ul>
    </div>

    <div class="footer">
        <p class="right">
            maked by <a href="https://hitsujirere.github.io" target=”_blank”>HitsujiRere</a>.
        </p>
    </div>
</body>

</html>